<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.thedrop.math">

    <!-- Include required permissions for Google Mobile Ads to run -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AnalyticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity
            android:name=".Perimetr"
            android:label="@string/title_activity_class5" />
        <activity
            android:name=".PloshadPloskihFigur"
            android:label="@string/title_activity_class6" />
        <activity
            android:name=".PloshadPoverhnosti"
            android:label="@string/title_activity_class7" />
        <activity
            android:name=".ObuomTel"
            android:label="@string/title_activity_class8" />
        <activity
            android:name=".radiusVpisannoi"
            android:label="@string/title_activity_class9" />
        <activity
            android:name=".RadiusOpisannoi"
            android:label="@string/title_activity_class10" />
        <activity
            android:name=".Trigonometriya"
            android:label="@string/title_activity_class11" />
        <activity
            android:name=".Image"
            android:label="@string/title_activity_image" />
        <activity
            android:name=".Teoremy"
            android:label="@string/title_activity_teoremy" />
        <activity
            android:name=".EasyMult"
            android:label="@string/title_activity_easy_mult" />
        <!-- Include the AdActivity configChanges and theme. -->

        <activity
            android:name=".About"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".Logarifm"
            android:label="@string/title_activity_logarifm" />
        <activity
            android:name=".UsefulResourses"
            android:label="@string/title_activity_answers_ege" />
        <activity
            android:name=".Advice"
            android:label="@string/title_activity_advice" />
        <activity
            android:name=".TextActivity"
            android:label="@string/title_activity_text" />
        <activity
            android:name=".Integrals"
            android:label="@string/title_activity_integrals" />
        <activity
            android:name=".EGE"
            android:label="@string/title_activity_ege"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Triange"
            android:label="@string/title_activity_triange"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PartB"
            android:label="@string/title_activity_part_b"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PartAB"
            android:label="@string/title_activity_part_ab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TypicalTasks" />
        <activity android:name=".SolutionTasks" />
        <activity android:name=".HelpAuthor" />
        <activity android:name=".Donation" />
        <activity android:name=".Shpores"></activity>
    </application>

</manifest>